<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class=>'redactor' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label  ("Search by users email") %><br />
     <div class="controls">
    <%= f.text_field :receiver_id, data: { autocomplete_source: user_email_index_search_path } %>
  </div> 
</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                messages_path, :class => 'btn' %>
  </div>
<% end %>
