
<% @message_to_user="Message_to_user" %>
<%= form_for @message_to_user, :url => messages_path(@message_to_user) do |f| %>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class=>'redactor' %>
    </div>
  </div>

    <div class="control-group">
     <%= f.label  ("Search by users email") %><br />
     <div class="controls">
      <%= f.text_field :receiver_email, data: { autocomplete_source: user_email_index_search_path } %>
       </div> 
</div>
 <div class="form-actions">
    <%= f.submit "Send",:class => 'btn btn-primary'%>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                messages_path, :class => 'btn' %>
                  </div>
<% end %>