<%- model_class = Message -%>

<div class="page-header">
  <h1><%= link_to 'Messages/', messages_path %><%=t '.title', :default => @title %></h1>
</div>

<%= will_paginate %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th>Chat with:</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Count</th>
    </tr>
  </thead>
<% if @messages.present? %>
  <tbody>
    <% @messages.each_with_index do |message, i| %>
      <tr>
        <td><%= link_to message.content.html_safe, chat_path(@chat_users[i].id) %></td>
        <td><%= link_to @chat_users[i].email, chat_path(@chat_users[i].id) %></td>
        <td><%=l message.created_at %></td>
        <td><%= @count[i] %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>


<%= will_paginate %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_message_path,
            :class => 'btn btn-primary' %>

