<p id="notice"><%= notice %></p>



<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @user.birth_date %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>




<%= link_to 'Back', users_path %>
